main{

	background-color: #A0B2FA;
}

.intro {
	text-align: center;

}

.pretty {
	font-family: cursive;
	font-style: italic;
	font-size: 2.5em;
	font-weight: bold;
	color: #E31BF5;	
}

.midpage {

	background-color: #FAA0DF;
	font-family: sans-serif;
	font-size: 1.0em;
	text-align: left;
	color: #0A2EF7;
}

.bottomleft {

	text-align: center;
	background-color: #A0FABB;
	font-size: 1.0em;
	color: #8B27F5;

}

